.header{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
}

.header a{
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    margin-left: 36px;
}
.header button{
    background-color: #1C2B35;
    color: white;
    border: none;
    margin-left: 36px;
    font-size: 17px;
}
.header button:hover{
    color: greenyellow;
}
.header a:hover{
    color: greenyellow;
}